{%load static%}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<link rel="stylesheet", type="text", href="{% static 'hello/css/style.css' %}">
  <title>Django Test</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
<h1>About</h1>

<a href="{%url 'home' %}">Home</a>
<a href="{%url 'about' %}">About</a>
</body>
</html>