<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Information</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Place jQuery and popper js files above bootstrap js file as bootstrap depends on jq=Query and Popper -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <img class="img-fluid" height="100px" width="50px" src="https://i.imgur.com/1vSQMHk.png" alt="logo">
      <a class="navbar-brand" href="#">BUS443: Final Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            <a class="nav-link" href="{% url 'student' %}">Student Details</a>
            <a class="nav-link" href="{% url 'course' %}">Courses</a>
            <a class="nav-link" href="{% url 'studentinfo' %}">Enrollment</a>
            <a class="nav-link" href="{% url 'gradrate' %}">Graduation Rates</a>
             <ul class="navbar-nav">
              {% if not user.is_authenticated %}
              <ul class="navbar-nav px-3">
               <li class="nav-item text-nowrap">
                 <a class="btn btn-outline-primary my-2 my-sm-0" role="button" href="{% url 'login' %}">Log in</a>
               </li>
              </ul>
              {% else %}
      
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="btn btn-outline-secondary my-2 my-sm-0" href="{% url 'logout' %}">Log out</a>
                </li>
              </ul>
      
              {% endif %}
            </ul>
    </nav>

 {% block container %}
      <div class="mx-auto mt-4 mb-4 mr-4 ml-4 px-5">
       {% block content %}
       {% endblock %}
      </div>
    {% endblock %}

</body>
</html>