{% extends "StudentInfo/base.html" %}
{% block content %}
<h1>Course Details</h1>
<br/>
<div class="container">  
	<table class="table">
		<thead>
			<tr>
				<th>Course ID</th>
				<th>Title</th>
				<th>Name</th>
				<th>Section Code</th>
				<th>Department</th>
				<th>Instructor Full Name</th>
			</tr>
		</thead>
		<tbody>
			{% for course in course %}
				<tr>
					<td>{{ course.course_id }}</td>
					<td>{{ course.course_title }}</td>
					<td>{{ course.course_name }}</td>
					<td>{{ course.course_section}}</td>
					<td>{{ course.course_department}}</td>
					<td>{{ course.instructor_full_name}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">next</a>
				<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
</div>


{% endblock %}