{% extends "StudentInfo/base.html" %}
{% block content %}

<style>

    .course.selected {
        background-color: #d4edda;
    }
    .enroll{
        float:right;
    }
    .spacer{
        margin-bottom:1.5em;
        height:3em;
    }
</style>
<h1>Student Enrollment</h1>
<br/>


<div class="container">    
        <div class="col-md-3">
                <span>Select Student ID:</span><select id="studentSelect" style="min-width:100px;">
                <option value="0"></option>
                {% for student in student %}
                <option value="{{ student.id }}">{{ student.id }}</option>
                {% endfor %}
            </select>
        </div>
        <br/>
      <div class="row spacer">
        <div class="col">
                <div class="alert-holder">

                </div>
        </div>
        <div class="col-md-auto">

        </div>
        <div class="col col-lg-2">
                <input id="enroll-btn" type="submit" class="btn btn-primary enroll" />
        </div>
      </div>
    <table class="table">
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Instructor Full Name</th>
                    <th>Enroll</th>
                </tr>
            </thead>
            <tbody>
                {% for course in course %}
                    <tr class="course" id="course-{{ course.id }}">
                        <td>{{ course.course_id }}</td>
                        <td>{{ course.course_title }}</td>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.course_department}}</td>
                        <td>{{ course.instructor_full_name}}</td>
                        <td><input class="enrollCheck" type="checkbox" data-courseId="{{ course.id }}" /></td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
<script>
    async function getEnrollment(studentId) {
        var url = "student/" + studentId;
        var response = await fetch(url);
        var data = await response.json();
        console.log("DATA", data);
        return data;
    }

    async function enroll(studentId, courses) {
        var url = "student/" + studentId;
        console.log(studentId, courses);
        let res = await fetch(url, {
            method: 'POST',
            body: JSON.stringify(courses)
        })
        let data = await res.json();
        console.log("RESPONSE", data);
        return data;
    }

    /**
        * @param enrollment - [ { student_id, course_id } ]
        */
    function setSelectedCourses(enrollment) {
        // remove class from everything just in case
        $('.course').removeClass('selected');
        $('.course').find('.enrollCheck').prop('checked', false);
        // add class to rows that need it
        for (var i = 0; i < enrollment.length; i++) {
            var htmlId = '#course-' + enrollment[i].course_id;
            console.log('Selecting ', htmlId);
            $(htmlId).addClass('selected');
            $(htmlId).find('.enrollCheck').prop('checked', true);
        }
    }

    function setAlert(response) {
        $('.alert-holder').html(`
            <div class="alert ${ response.status === 'success' ? 'alert-success' : 'alert-danger' }">
                ${ response.message }
            </div>
        `);
    }

    $(document).ready(function() {

        function getStudentId() {
            var option = $('#studentSelect').find("option:selected")
            console.log(option)
            var id = option[0].value
            return id;
        }

        $('#studentSelect').change(async function(){
            var id = getStudentId();
            var enrollment = await getEnrollment(id);
            setSelectedCourses(enrollment);
        });

        $('#enroll-btn').click(async (e) => {
            e.preventDefault();
            var courses = [];
            $.each($('.enrollCheck:checked'), function() {
                courses.push($(this).attr('data-courseId'));
            });
            var id = getStudentId();
            // TODO deal with when a student isn't selected
            let response = await enroll(id, courses);
            // set an alert that we did the thing
            setAlert(response);
            // tell the courses to reset
            if (response.status === 'success')
                setSelectedCourses(await getEnrollment(id));
        })
    });
</script>

{% endblock %}