{% extends "StudentInfo/base.html" %}
{% block content %}
{%load static%}
<!doctype html>
<h1>Graduation Rates</h1>
		<div class="section text-center" id="month">
		    <h2>Graduation Rates Over Time</h2>
			<!-- Use a Line chart to depict this data
			       https://www.chartjs.org/docs/latest/charts/line.html
				   CDN - <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
             -->
             <div class="w-100">
                    <canvas id="OctMaxTemps" width="25%" height="10%"></canvas>
                    <script>
                    var graduationYear = {{gradYear|safe}}.reverse()
                    var fourRate = {{fourYear|safe}}
                    var fiveRate = {{fiveYear|safe}}
                    var sixRate = {{sixYear|safe}}
                    var ctx = document.getElementById('OctMaxTemps').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: graduationYear,
                            datasets: [
                                {
                                    label: '4 Graduation Rate (%)',
                                    data: fourRate,
                                    backgroundColor: '#6fc989',
                                    fill:false,
                                    borderColor: '#117a2f',
                                    borderWidth: 1
                                },
                                {
                                    label: '5 Graduation Rate (%)',
                                    data: fiveRate,
                                    backgroundColor: "#89bff5",
                                    fill:false,
                                    borderColor: "#2d66c2",
                                    borderWidth: 1
                                },
                                {
                                    label: '6 Graduation Rate (%)',
                                    data: sixRate,
                                    backgroundColor: "#f7abab",
                                    borderColor: "#c43b3b",
                                    fill:false,
                                    borderWidth: 1
                                },
                            ]
                        },
                        options: 
                        {
                            scales: {
                                yAxes: 
                                [{
                                    ticks: 
                                    {
                                        beginAtZero: true
                                    }
                                    ,scaleLabel: 
                                    {
                                        display: true,
                                        labelString: 'Graduation Rate (Percentage)'
                                    }
                                }]
                                ,xAxes: 
                                [{
                                    ticks: 
                                    {
                                        beginAtZero: false
                                    }
                                    ,scaleLabel: 
                                    {
                                        display: true,
                                        labelString: 'Graduation Year'
                                    }
                                }]
                            }
                        }
                    });
                    </script>

             </div>

</body>
</html>
{% endblock %}