{% extends "StudentInfo/base.html" %}
{% block content %}
{%load static%}


<body>
<div class="container">
    <h1> Dashboard</h1>
    <p>welcome, {{request.user.username}}!</p>
    </br>
    <h1>Admin Tools</h1>
    <form action="http://127.0.0.1:8000/admin/StudentInfo/course/add/">
        <button type="submit" class="btn btn-primary btn-lg">Add Courses</button>
    </form>
</br>
    <form action="http://127.0.0.1:8000/admin/StudentInfo/student/add/">
        <button type="submit" class="btn btn-primary btn-lg">Add Students</button>
    </form>
    </br>
    <h1>Information Summary</h1>
    <div class="d-flex align-items-center flex-column">
        <div class="w-200"></div>
            <div class="row">
                    <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Total Students</h5>
                        <p class="card-text">{{CountStudents}}</p>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                <h5 class="card-title">Total offered Courses</h5>
                                <p class="card-text">{{CourseCount}}</p>
                                </div>
                            </div>
                            </div>
                    <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Average student GPA</h5>
                        <p class="card-text">{{AvgGpa}}</p>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Enrolled Students</h5>
                        <p class="card-text">{{EnrollCount}}</p>
                        </div>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>






</body>
</html>
{% endblock %}