{% extends "StudentInfo/base.html" %}
{% block content %}
<div class="d-flex align-items-center flex-column">

		<img class="img-fluid" src="https://i.imgur.com/ttaocVa.png" alt="logo">
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<table class="table">
			{{form}}
		</table>
		<input class="btn btn-outline-primary" type="submit" value="login">
	</form>
</div>
{% endblock %}