{% extends "StudentInfo/base.html" %}
{% block content %}

<div class="col-md-3">
    <select id="select" style="min-width:100px;">
        {% for students in student %}
        <option value="{{ student.lastname }}">{{ student.lastname }}</option>
        {% endfor %}
    </select>
</div>
<br/>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Major</th>
            </tr>
        </thead>
        <tbody>
            {% for student in info %}
            <tr>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.major }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {

        $('#select').val("{{ request.session.student }}")

        $('#select').change(function(){
            var option = $(this).find("option:selected")
            console.log(option)
            var name = option[0].value
            $.ajax({
                url: "{% url 'studentinfo' %}",
                data : {
                    student: name
                },
                success: function(data)
                {
                    window.location = "{% url 'studentinfo' %}";
                }
            });
        });
    });
</script>

{% endblock %}