{% extends "StudentInfo/base.html" %}
{% block content %}
<h1>Student Details</h1>
<br/>
<div class="container">  
	<table class="table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Major</th>
				<th>Year</th>
				<th>GPA</th>
			</tr>
		</thead>
		<tbody>
			{% for student in student %}
				<tr>
					<td>{{ student.firstname }}</td>
					<td>{{ student.lastname }}</td>
					<td>{{ student.major }}</td>
					<td>{{ student.year }}</td>
					<td>{{ student.gpa }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">next</a>
				<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
</div>
{% endblock %}